* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

ul,
ol,
menu {
    list-style-type: none;
}

a {
    color: currentColor;
    text-decoration: none !important;
}

img,
figure {
    max-height: 100%;
}

:root {
    --dark-blue: #051E34;
    --white-header: #F8F9FA;
    --grey-header-placeholder: #E5E5E5;
    --blue-badge: #165BBA;
}

.relative {
    position: relative;
}

/**********
LAYOUT
***********/

body {
    height: 100vh;
}

/**********
HEADER
***********/

.header1 {
    height: 70px;
    background-color: var(--white-header);
}

.logo-sm {
    height: 50px;
}

.form-control {
    background-color: var(--grey-header-placeholder) !important;
}

.nav-link i {
    font-size: 1rem;
    padding: 10px;
}

.dropdown-icon {
    color: darkorange;
}

.dropstart .dropdown-toggle::before {
  display: none !important;
}

/**********
ASIDE
***********/

.aside1 {
    background-image: url("../img/sidebar-bg.png");
    background-color: var(--dark-blue);
    width: 70px;
    height: calc(100vh - 70px);
}

/**********
MAIN-CONTENT
***********/

/**********
HEADER2
***********/

.header2 .badge {
    background-color: var(--blue-badge);
}

.header2 .contents {
    display: contents;
}

.btn.add-student {
    font-size: 2rem;
    font-weight: 700;
    height: 40px;
    width: 40px;
    line-height: 40px;
    padding: 0;
}

/**********
NEXT-CLASSES
***********/

th[scope=row]::before {
    display: inline-block;
    content: "</>";
    background-color: orangered;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
}

.table .btn {
    height: 30px;
    width: 30px;
    line-height: 30px;
    padding: 0;
}

thead .lg-th {
    width: 50%;
}

thead th:not(.lg-th) {
    white-space: nowrap;
}

/**********
TODO
***********/

.first>.input-group-text {
    border-radius: 10px 0 0 0;
}

.first .form-control{
    border-radius: 0 10px 0 0;
}

.last>.input-group-text {
    border-radius: 0 0 0 10px;
}

.last .form-control{
    border-radius: 0 0 10px 0;
}

/**********
MEDIAUERY
***********/

@media all and (min-width: 1200px) {
    .aside1 {
        width: 150px;
    }

    .my-container1 {
        padding-left: 2rem;
    }  

    .aside1 .row {
        text-align: start !important;
    }
}

